[submodule "submodules/plog"]
	path = submodules/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "submodules/CLI11"]
	path = submodules/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "submodules/ctpl"]
	path = submodules/ctpl
	url = https://github.com/vit-vit/ctpl
[submodule "submodules/CTIOL"]
	path = submodules/CTIOL
	url = ../CTIOL.git
[submodule "submodules/CTMAL"]
	path = submodules/CTMAL
	url = ../CTMAL.git
[submodule "submodules/matplotlib-cpp"]
	path = submodules/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp
[submodule "submodules/Catch2"]
	path = submodules/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "submodules/gitversion"]
	path = submodules/gitversion
	url = https://github.com/kulvait/gitversion
